body {
    font-family: Arial, sans-serif;
    background-image: url('image/you.webp'); 
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Ocupa toda a altura da viewport */
    color: #f2f2f2;
    text-align: center;
    margin: 0; /* Remove a margem padrão do body */
}

.container {
    max-width: 600px;
    width: 100%; /* Certifique-se de que a largura seja 100% do contêiner pai */
    padding: 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra opcional */
   
}

.perguntaContainer {
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    align-items: center; /* Centraliza os itens no eixo horizontal */
    justify-content: center; /* Centraliza os itens no eixo vertical */
    margin-top: 20px; /* Espaço entre o container de perguntas e outros elementos */
 
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin: 20px 0;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    background-color: #ff5733;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #c70029;
}

.opcao {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra opcional */
}

.opcao:hover {
    background-color: #555;
}